#main {
    background-color: #D1B3C4; 
    padding: 30px;
    width: 50%;
    margin: 20px auto; 
    border-radius: 20px; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

body {
    background-color: #F8E8EE; 
    font-family: "Poppins", sans-serif;
    color: #4A4A4A;
    text-align: center;
}


h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #8E7AB5; 
}

.score-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 1.2rem;
    font-weight: 500;
}


button {
    background-color: #A7D397;  
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #82B380; 
}

input {
    padding: 10px;
    width: 250px;
    border: 2px solid #D8BFD8; 
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
}

